@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:0;
    font-family:Arial, Helvetica, sans-serif;
    color: #ffffff;
}

body{
    background-color: #1f242d;
    /*background-image: url("my\ background.jpg");
    background-repeat: no no-repeat;
    background-position: center;
    background-size: 1000%;*/
}

a{
    color: #ffff;
    text-decoration: none;
}

.navbar{
    position:fixed;
    left: 0;
    top: 50;
    height: 25px;
    width:100%;
    padding: 15px;
    background: slategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin: 60px;
}
.navbar ul li a{
    font-size: 20;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a, 
.navbar ul li .active a{
    color:#7cf03d;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color:#ffffff
} 
.home-info h1{
    font-size: 55px
}
.home-info h2{
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;

}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25p;
}
.home-info h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7cf03d;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}
/*@keysframes is what we used for animation*/
@keyframes display-text{
    25%, 100%{
        display: none;
    }

}

.home-info h2 span::before{
    content:attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #7cf03d;
    overflow: hidden;
    color: #7cf03d;
    white-space: nowrap;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text{
    10%, 100%{
        width: 0;

    }
    70%, 90%{
        width: 100%;
    }
}

.home-info .btn-sci{
    display: flex;
    align-items: center;
    margin-top: 20px;


}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 20px;
    box-shadow: 0 0 10px;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: 0.5s;
}
.btn:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}
.home-info .btn-sci .sci{
    margin-left: 20px;
   
}
.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color:#7cf03d;
    margin: o 8px;
    transition: 0.5s;
}
.home-info .btn-sci .sci a:hover{
    background: #7cf03d;
    color:#1f242d;
    box-shadow: 0 0 10px #7cf03d;

}
.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    /*background: red;*/ /*weremoved the background red color */
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box::before, 
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 550px;
    height: 550px;
    background: conic-gradient(transparent, transparent, transparent, #7cf03d);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
@keyframes rotate-border {
    100%{
        transform: rotate(360deg);
    }
}
.home-img .img-box::after{
    animation-delay: -5s;
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.1px solid #1f242d;
    background: #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
.home-img .img-box .img-item img{
    position: absolute;
    top: 30px;
    left: -20px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
}
.contact-form{
    display: inline-block;
}
footer{
    display: flex;
    justify-content: center;
    background: black;

}